@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}

.swiper-pagination-bullet {
  background-color: gray !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

@mixin glow-effect($position, $color, $top, $left, $width, $height, $blur-mobile, $blur-desktop) {
  position: relative;
  background: black;
  
  &::#{$position} {
    content: '';
    position: absolute;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    z-index: 0;
    background: radial-gradient(circle, $color 0%, rgba(0, 0, 0, 0) 150%);
    filter: blur($blur-mobile);
    animation: glow-effect-animation 5s infinite alternate;
    
    @media (min-width: 768px) {
      filter: blur($blur-desktop);
    }
  }
}

@keyframes glow-effect-animation {
  0% {
    transform: scale(0.9) translateY(10px) translateX(10px);
  }
  100% {
    transform: scale(1.1) translateY(-10px) translateX(-10px);
  }
}

@layer utilities {
  .glow-effect-right-cyan {
    @include glow-effect('before',#00c8ec,-15%,70%,50%,50%,190px,500px);
  }

  .glow-effect-middle-purple {
    @include glow-effect('after',#8117be,60%,10%,40%,50%,100px,200px);
  }

  .glow-effect-cyan-left {
    @include glow-effect('after',#00c8ec,0%,-10%,90%,60%,100px,200px);
  }
  .glow-effect-project-middle {
    @include glow-effect('before',var(--glow-effect-color),10%,0%,40%,40%,100px,200px);
  }
  .glow-effect-project-top {
    @include glow-effect('after',var(--glow-effect-color),25%,25%,60%,60%,100px,200px);
    &::after {
      opacity: 0.7;
    }
  }
}